<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

<!--    <appender name="elastikSearchAccess" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <destination>127.0.0.1:9000</destination>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder" />-->
<!--    </appender>-->

<!--    <appender-ref ref="elastikSearchAccess"/>-->
</configuration>