@{
    ViewData["Title"] = "Home Page";

}
@model Archive.Core.Entities.Movies.Actor

<div class="text-center">
    <form asp-action="Index" method="post">
        <input asp-for="FullName" />
        <span asp-validation-for="FullName"></span>
        <button type="submit">Создать</button>
    </form>
</div>
