@model Archive.Core.DTOs.MovieSpace.Admin.Country.CountryCreateDto

<form asp-action="Create" asp-controller="Country" asp-area="Admin" method="post">
    <div class="modal fade modal-sm" id="countryCreateModal" tabindex="-1" aria-labelledby="countryCreateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="countryCreateModalLabel">Создать новую страну</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body col">
                    <div class="row mb-4 justify-content-center">
                        <div class="col">
                            <input asp-for="Name" type="text" class="form-control" placeholder="Новая страна">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>