COMMON_LOG_DRIVER=your_log_driver_here
COMMON_LOG_MAX_SIZE=your_max_log_size_here
COMMON_LOG_MAX_FILE=your_max_log_files_here

POSTGRES_USER_FILE_HOST=path\to\your\host\secrets\user.txt
POSTGRES_PASSWORD_FILE_HOST=path\to\your\host\secrets\password.txt
POSTGRES_DB_FILE_HOST=path\to\your\host\secrets\db.txt
POSTGRES_CONFIG_FILE_HOST=path\to\your\host\config\postgresql.conf

POSTGRES_USER_FILE=path\to\container\secrets\postgres_user
POSTGRES_PASSWORD_FILE=path\to\container\secrets\postgres_password
POSTGRES_DB_FILE=path\to\container\secrets\postgres_db
POSTGRES_DATA_PATH=path\to\container\postgresql\data
POSTGRES_CONFIG_FILE=path\to\container\postgresql\data\postgresql.conf

ELASTIC_STACK_COMMON_CA_CRT_FILE_HOST=path\to\your\host\certs\ca.crt

ELASTIC_STACK_ELASTICSEARCH_CA_KEY_FILE_HOST=path\to\your\host\elasticsearch\certs\ca.key
ELASTIC_STACK_ELASTICSEARCH_CRT_FILE_HOST=path\to\your\host\elasticsearch\certs\elasticsearch.crt
ELASTIC_STACK_ELASTICSEARCH_KEY_FILE_HOST=path\to\your\host\elasticsearch\certs\elasticsearch.key
ELASTIC_STACK_ELASTICSEARCH_YML_FILE_HOST=path\to\your\host\elasticsearch\config\elasticsearch.yml

ELASTIC_STACK_ELASTICSEARCH_ELASTIC_PASSWORD=your_elastic_password_here
ELASTIC_STACK_ELASTICSEARCH_CA_CRT_FILE=path\to\container\elasticsearch\config\certs\ca.crt
ELASTIC_STACK_ELASTICSEARCH_CA_KEY_FILE=path\to\container\elasticsearch\config\certs\ca.key
ELASTIC_STACK_ELASTICSEARCH_CRT_FILE=path\to\container\elasticsearch\config\certs\elasticsearch.crt
ELASTIC_STACK_ELASTICSEARCH_KEY_FILE=path\to\container\elasticsearch\config\certs\elasticsearch.key
ELASTIC_STACK_ELASTICSEARCH_DATA_PATH=path\to\container\elasticsearch\data
ELASTIC_STACK_ELASTICSEARCH_YML_FILE=path\to\container\elasticsearch\config\elasticsearch.yml

ELASTIC_STACK_KIBANA_CRT_FILE_HOST=path\to\your\host\kibana\certs\kibana.crt
ELASTIC_STACK_KIBANA_KEY_FILE_HOST=path\to\your\host\kibana\certs\kibana.key
ELASTIC_STACK_KIBANA_YML_FILE_HOST=path\to\your\host\kibana\config\kibana.yml

ELASTIC_STACK_KIBANA_CRT_FILE=path\to\container\kibana\config\certs\kibana.crt
ELASTIC_STACK_KIBANA_KEY_FILE=path\to\container\kibana\config\certs\kibana.key
ELASTIC_STACK_KIBANA_ELASTICSEARCH_SERVICE_ACCOUNTTOKEN=your_service_account_token_here
ELASTIC_STACK_KIBANA_CA_CRT_FILE=path\to\container\kibana\config\certs\ca.crt
ELASTIC_STACK_KIBANA_XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=32_character_encryption_key_here
ELASTIC_STACK_KIBANA_XPACK_REPORTING_ENCRYPTIONKEY=32_character_encryption_key_here
ELASTIC_STACK_KIBANA_XPACK_SECURITY_ENCRYPTIONKEY=32_character_encryption_key_here
ELASTIC_STACK_KIBANA_YML_FILE=path\to\container\kibana\config\kibana.yml

ELASTIC_STACK_LOGSTASH_SERVER_CRT_FILE_HOST=path\to\your\host\logstash\certs\server\logstashServer.crt
ELASTIC_STACK_LOGSTASH_SERVER_KEY_FILE_HOST=path\to\your\host\logstash\certs\server\logstashServer.key

ELASTIC_STACK_LOGSTASH_CA_CRT_FILE=path\to\container\logstash\config\certs\ca.crt
ELASTIC_STACK_LOGSTASH_SERVER_CRT_FILE=path\to\container\logstash\config\certs\logstashServer.crt
ELASTIC_STACK_LOGSTASH_SERVER_KEY_FILE=path\to\container\logstash\config\certs\logstashServer.key
ELASTIC_STACK_LOGSTASH_CONF_OUTPUT_ELASTICSEARCH_API_KEY=your_elasticsearch_api_key_here

ELASTIC_STACK_FLEET_SERVER_CRT=path\to\your\host\fleet-server\certs\fleet-server.crt
ELASTIC_STACK_FLEET_SERVER_KEY=path\to\your\host\fleet-server\certs\fleet-server.key

ELASTIC_STACK_FLEET_SERVER_SERVICE_TOKEN=your_fleet_server_service_token_here
ELASTIC_STACK_FLEET_SERVER_CA_CRT_FILE=path\to\container\elastic-agent\config\certs\ca.crt
ELASTIC_STACK_FLEET_SERVER_CRT_FILE=path\to\container\elastic-agent\config\certs\fleet-server.crt
ELASTIC_STACK_FLEET_SERVER_KEY_FILE=path\to\container\elastic-agent\config\certs\fleet-server.key

ELASTIC_STACK_ELASTIC_AGENT_CA_CRT_FILE=path\to\container\elastic-agent\config\ca.crt
ELASTIC_STACK_FLEET_ENROLLMENT_TOKEN=your_fleet_enrollment_token_here 